
<div class="card recipe-card">

  {{#if recipe.favorite}}

    <div class="favorite-icon">
      <span class="fa fa-heart recipe-card-icon"></span>
    </div>

  {{/if}}


  <div class="card-image recipe-card-image" {{action 'onEditRecipe'}}>
    <figure class="image image is-2by1">
      <img src={{recipe.imageUrl}} alt="Image">
    </figure>
  </div>

  <div class="card-content recipe-card-content" {{action 'onEditRecipe'}}>
    <div class="content">
      <div class='is-5'>Recipe {{recipe.name}}</div>
      <div class='is-5'>

        {{foode-recipe-stars stars=recipe.stars}}

        {{recipe.reviews}} Reviews
      </div>
    </div>
  </div>

  <footer class="card-footer recipe-card-actions">
    <a class="card-footer-item is-primary" {{action 'onAddRecipe'}}>
      <span class="fa fa-plus-circle recipe-label-icon"></span>
      Add to Recipes
    </a>
    <a class="card-footer-item is-primary" {{action 'onFavoriteRecipe'}}>
      <span class="fa fa-heart recipe-label-icon"></span>
      Favorite
    </a>
  </footer>
</div>
