<aside class="menu">

  <p class="menu-label">
    Your Recipes
  </p>

  <ul class="menu-list">
    <li {{action 'onFilterRecipes' 'Current'}}><a>Current</a></li>
    <li {{action 'onFilterRecipes' 'Favorites'}}><a>Favorites</a></li>
    <li {{action 'onFilterRecipes' 'Previous'}}><a>Previous</a></li>
  </ul>


  <p class="menu-label">
    Categories
  </p>
  <ul class="menu-list">
    <li {{action 'onFilterRecipes' 'Popular'}}><a>Popular</a></li>
    <li {{action 'onFilterRecipes' 'Breakfast'}}><a>Breakfast</a></li>
    <li {{action 'onFilterRecipes' 'Lunch'}}><a>Lunch</a></li>
    <li {{action 'onFilterRecipes' 'Dinner'}}><a>Dinner</a></li>
    <li {{action 'onFilterRecipes' 'Italian'}}><a>Italian</a></li>
    <li {{action 'onFilterRecipes' 'Vegan'}}><a>Vegan</a></li>
    <li {{action 'onFilterRecipes' 'Mexican'}}><a>Mexican</a></li>
    <li {{action 'onFilterRecipes' 'Thai'}}><a>Thai</a></li>
    <li {{action 'onFilterRecipes' 'Chinese'}}><a>Chinese</a></li>
    <li {{action 'onFilterRecipes' 'Greek'}}><a>Greek</a></li>
    <li {{action 'onFilterRecipes' 'Japanese'}}><a>Japanese</a></li>
    <li {{action 'onFilterRecipes' 'Mongolian'}}><a>Mongolian</a></li>
    <li {{action 'onFilterRecipes' 'Tex-Mex'}}><a>Tex-Mex</a></li>
    <li {{action 'onFilterRecipes' 'Meeeaaaat'}}><a>Meeeaaaat</a></li>
    <li {{action 'onFilterRecipes' 'Fruitarian'}}><a>Fruitarian</a></li>
    <li {{action 'onFilterRecipes' 'Ramen'}}><a>Ramen</a></li>
  </ul>


</aside>
