

<div class="">
  {{foode-recipe-header title='Recently Added Recipes'}}
  {{foode-recipe-list recipes=model.recentRecipes onEditRecipe='onEditRecipe' onAddRecipe='onAddRecipe' onFavoriteRecipe='onFavoriteRecipe'}}
</div>


<div class="">
  {{foode-recipe-header title='Recent Favorites'}}
  {{foode-recipe-list recipes=model.recentRecipes onEditRecipe='onEditRecipe' onAddRecipe='onAddRecipe' onFavoriteRecipe='onFavoriteRecipe'}}
</div>


<div class="">
  {{foode-recipe-header title='Top Rated Recipes'}}
  {{foode-recipe-list recipes=model.recentRecipes onEditRecipe='onEditRecipe' onAddRecipe='onAddRecipe' onFavoriteRecipe='onFavoriteRecipe'}}
</div>


<div class="">
  {{foode-recipe-header title='Suggested Recipes'}}
  {{foode-recipe-list recipes=model.recentRecipes onEditRecipe='onEditRecipe' onAddRecipe='onAddRecipe' onFavoriteRecipe='onFavoriteRecipe'}}
</div>
